html, body, .container {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.content {
  background-image: url('beach.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin-top: 11vh;
}

.layerA {
  background: -webkit-linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background: -o-linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background: -moz-linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background: linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.layerB {
  background: -webkit-linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background: -o-linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background: -moz-linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background: linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

@media screen and (min-width: 768px) {
  .hideSection {
    transition: all 100ms;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .displaySection {
    padding-top: 0vh;
    transition: all 100ms;
  }

  .nav {
    background-color: rgba(24, 26, 41, 1);
    width: 100vw;
    height: 11vh;
    left: 0;
    z-index: 1000;
    position: fixed;
  }

  .menu-btn {
    color: white;
    height: 40px;
    width: 40px;
    margin-top: 2vh;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgba(24, 26, 41, .1);
  }

  .menu-container {
    background-color: rgba(24, 26, 41, .9);
    width: 100vw;
    left: 0;
    margin-top: 11vh;
    position: fixed;
    opacity: 0;
    height: 0%;
    transition: all 500ms;
    z-index: 500;
    overflow: hidden;
  }

  .showMenu {
    height: 180px;
    opacity: 1;
    transition: all 500ms;
  }

  .menu {
    list-style-type: none;
    left: 0;
    width: 100vw;
  }

  .menu-text {
    color: white;
    font-size: 20px;
  }

  .hideWelcomeTitle {
    margin-left: -200%;
    opacity: 0;
    transition: all 500ms ease;
  }

  .welcomeTitle {
    padding-top: 7vh;
    margin-left: 0;
    opacity: 1;
  }

  .title {
    font-size: 90px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    transition: all 500ms ease;
  }

  .profile-pic {
    border: thick solid white;
    transition: all 500ms ease;
  }

  .subtitle {
    color: white;
    font-size: 45px;
    padding: 0px 10px 0px 10px;
    font-family: 'Permanent Marker', cursive;
    transition: all 500ms ease;
  }

  .family-pic {
    width: 80%;
    max-width: 300px;
    border: thick solid white;
    margin-bottom: 20px;
    transition: 250ms all;
  }

  .family-pic:hover {
    cursor: pointer;
    width: 90%;
    max-width: 350px;
  }

  .info-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding-right: 35px;
    margin-bottom: 35px;
  }

  .info-text {
    color: white;
    font-size: 20px;
    padding-right: 25px;
  }

  .skills {
    list-style-type: none;
    padding-left: 5vw;
    display: inline-block;
  }

  .skills-img {
    height: 15vh;
    margin-top: 20px;
    opacity: .8;
    transition: all 250ms;
  }

  .skills-img:hover {
    opacity: 1;
    height: 20vh;
  }

  .projects-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
  }

  .projects-info {
    background-color: white;
    border: thick solid rgba(24, 26, 41, 1);
    border-radius: 7px;
    height: 161px;
    width: 285px;
    z-index: 400;
    opacity: .8;
    transition: all 250ms;
  }

  .projects-info:hover {
    opacity: 1;
    height: 178px;
    width: 315px;
    cursor: pointer;
  }

  .projects-text {
    color: black;
    height: 155px;
    width: 270px;
  }

  .projects-img {
    height: 161px;
    width: 285px;
    opacity: .8;
    border: thick solid rgba(24, 26, 41, .8);
    transition: all 250ms;
  }

  .projects-img:hover {
    opacity: 1;
    height: 178px;
    width: 315px;
    cursor: pointer;
  }

  .school-img {
    padding-top: 45px;
    width: 75%;
    max-width: 100px;
  }

  .school-title {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    transition: all 250ms;
  }

  .school-title:hover {
    font-size: 28px;
    transition: all 250ms;
  }

  .icon {
    color: white;
    font-size: 4vw;
    padding-left: 7vw;
    opacity: .8;
    transition: all 250ms;
  }

  .icon:hover {
    font-size: 5vw;
    opacity: 1;
  }

  #map {
    height: 260px;
    width: 90%;
    max-width: 800px;
  }
}
