html, body, .container {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

.content {
  background-image: url('beach.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin-top: 11vh;
}

.layerA {
  background: -webkit-linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background: -o-linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background: -moz-linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background: linear-gradient(rgba(24, 26, 41, 1), rgba(84, 83, 43, .6));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.layerB {
  background: -webkit-linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background: -o-linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background: -moz-linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background: linear-gradient(rgba(84, 83, 43, .6), rgba(24, 26, 41, 1));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.hideSection {
  transition: all 250ms;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.displaySection {
  padding-top: 0vh;
  padding-left: 5vw;
  padding-right: 5vw;
  transition: all 250ms;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo-', sans-serif;
}

@media screen and (max-width: 575px) {
  .mobile-nav {
    background-color: rgba(24, 26, 41, 1);
    width: 100vw;
    height: 11vh;
    left: 0;
    z-index: 1000;
    position: fixed;
  }

  .menu-btn {
    color: white;
    height: 40px;
    width: 40px;
    margin-top: 2vh;
    border-radius: 7px;
    font-size: 20px;
    background-color: rgba(24, 26, 41, .1);
  }

  .menu-container {
    background-color: rgba(24, 26, 41, .9);
    width: 100vw;
    left: 0;
    margin-top: 11vh;
    position: fixed;
    opacity: 0;
    height: 0%;
    transition: all 500ms;
    z-index: 500;
    overflow: hidden;
  }

  .showMenu {
    height: 180px;
    opacity: 1;
    transition: all 500ms;
  }

  .menu {
    list-style-type: none;
    left: 0;
    width: 100vw;
  }

  .menu-text {
    color: white;
    font-size: 20px;
  }

  .hideWelcomeTitle {
    margin-left: -200%;
    opacity: 0;
    transition: all 500ms ease;
  }

  .welcomeTitle {
    padding-top: 7vh;
    margin-left: 0;
    opacity: 1;
  }

  .title {
    font-size: 60px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    transition: all 500ms ease;
  }

  .profile-pic {
    border: thick solid white;
    transition: all 500ms ease;
  }

  .subtitle {
    color: white;
    padding: 0px 10px 0px 10px;
    font-family: 'Permanent Marker', cursive;
    transition: all 500ms ease;
  }

  .family-pic {
    width: 60%;
    border: thick solid white;
    margin-bottom: 20px;
    transition: 250ms all;
  }

  .family-pic:hover {
    cursor: pointer;
    width: 75%;
  }

  .info-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    padding-right: 25px;
    margin-bottom: 25px;
  }

  .info-text {
    color: white;
    font-size: 16px;
    padding-right: 25px;
  }

  .skills {
    list-style-type: none;
  }

  .skills-img {
    height: 15vh;
    margin-top: 20px;
    opacity: .8;
    transition: all 250ms;
  }

  .skills-img:hover {
    opacity: 1;
    height: 20vh;
  }

  .skills-text {
    color: white;
  }

  .projects-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
  }

  .projects-info {
    background-color: white;
    border: thick solid rgba(24, 26, 41, 1);
    border-radius: 7px;
    height: 30vh;
    width: 78vw;
    z-index: 400;
    opacity: .8;
    transition: all 250ms;
  }

  .projects-info:hover {
    opacity: 1;
    height: 35vh;
    width: 85vw;
    cursor: pointer;
  }

  .projects-text {
    color: black;
    width: 72vw;
    height: 28vh;
  }

  .projects-img {
    height: 30vh;
    width: 78vw;
    opacity: .8;
    border: thick solid rgba(24, 26, 41, .8);
    transition: all 250ms;
  }

  .projects-img:hover {
    opacity: 1;
    height: 35vh;
    width: 85vw;
    cursor: pointer;
  }

  .school-img {
    padding-top: 20px;
    width: 75%;
  }

  .school-title {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 20px;
    transition: all 250ms;
  }

  .school-title:hover {
    font-size: 28px;
    transition: all 250ms;
  }

  #map {
    height: 200px;
    width: 95%;
  }
}

@media screen and (min-width: 576px) {
  .title {
    font-size: 100px;
    color: white;
    font-family: 'Permanent Marker', cursive;
  }

  .subtitle {
    font-size: 50px;
    padding: 0px 20px 0px 20px;
    color: white;
    font-family: 'Permanent Marker', cursive;
  }

  .hideWelcomeTitle {
    margin-left: -200%;
    opacity: 0;
    transition: all 500ms ease;
  }

  .welcomeTitle {
    padding-top: 7vh;
    margin-left: 0;
    opacity: 1;
  }

  .profile-pic {
    border: thick solid white;
    transition: all 500ms ease;
  }

  .family-pic {
    width: 60%;
    border: thick solid white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info-title {
    color: white;
    font-family: 'Permanent Marker', cursive;
    padding-right: 25px;
  }

  .info-text {
    color: white;
    font-size: 16px;
    padding-right: 25px;
  }

  .skills {
    border: solid thin rgba(236, 236, 238, .5);
    border-radius: 10px;
    margin-left: -25px;;
    height: 75px;
    width: 75px;
    list-style-type: none;
  }

  .skills-text {
    font-family: 'Permanent Marker', cursive;
    color: white;
  }

  .school-img {
    padding-top: 30%;
    width: 75%;
  }

  #map {
    height: 200px;
    width: 95%;
  }
}
